.home {
    padding: 100px 0 0 0;
    background: #f3faff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;

    .container {
        flex: 1;
        width: 100%;

        .header {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            margin-bottom: 30px;

            @media screen and (max-width: 800px) {
                flex-direction: column;
            }

            h1 {
                text-transform: uppercase;
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                font-size: 40px;
            }

            .orden {
                display: flex;
                align-items: center;
                gap: 20px;

                select {
                    height: fit-content;
                    padding: 10px;
                    border-radius: 5px;
                    font-weight: 600;
                    border: 1px solid #01003a;
                }
            }
        }

        .content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding-bottom: 20px;
            place-items: center;

            @media screen and (max-width: 1280px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: 800px) {
                grid-template-columns: repeat(1, 1fr);
            }

            .card {
                max-width: 400px;
                border-radius: 15px;
                border: 1px solid black;
                padding: 10px;
                background: #ddf0ff;
                transition: transform 0.2s ease-in-out;

                &:hover {
                    transform: scale(0.98);
                }

                .img {
                    position: relative;
                    width: 210px;
                    height: 130px;
                    border-radius: 5px;
                    margin-left: 10px;
                }

                span{
                    color: grey;
                }
            }
        }

        .notification-banner {
            width: 100%;
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid #ffdddd;
            background: #ffdddd;
        }
    }
}